[Desktop Entry]
Name=Xgui4 Utils
Comment=An groups of utils made in rust for the cosmic desktop environnement
Type=Application
Icon=resources/icons/hicolor/scalable/apps/icon.svg
Exec=xgui4-utils %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
